<div id="flyout" class="col m4 l3">
  <div class="row">
    <div class="section">
      <button id="flyoutMenuButton" ng-click="toggleFlyout()" class="btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">menu</i>
      </button>
      <div class="clearfix"></div>
      <br>
      <h5>Click for Slides</h5>
      <br>
      <button class="waves-effect waves-light btn" ng-click="slide.next()"><i class="material-icons left">skip_next</i>Next Slide</button>
      <br>
      <br>
      <button class="waves-effect waves-light btn" ng-click="slide.prev()"><i class="material-icons left">skip_previous</i>Prev Slide</button>
      <br>
      <br>
      <br>
      <h5>Click for Video</h5>
      <br>
      <button class="waves-effect waves-light btn red" ng-click="video.play()"><i class="material-icons left">play_arrow</i>Play Video</button>
      <br>
      <br>
      <button class="waves-effect waves-light btn red" ng-click="video.pause()"><i class="material-icons left">pause</i>Pause Video</button>
    </div>
  </div>
</div>
