/*Basic Layout*/
/**************************************************/

/*Primary Navigation*/
/**************************************************/

/*Header Layout*/
/**************************************************/

/*Content & Columns */
/**************************************************/
.aspectEmbedContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.aspect4-3 {
  padding-top: 75%;
}

.aspect16-10 {
  padding-top: 62.5%;
}

.aspect16-9 {
  padding-top: 56.25%;
}

.aspectEmbedItem {
  position: absolute;
  height:100%;
  width: 100%;
  top:0;
  left:0;
  /*negative z-index prevents clicks by the user*/
  z-index: -1;
}

/*Footer*/
/**************************************************/


/*Miscellaneous Elements*/
/**************************************************/


/*Typography*/
/**************************************************/

/*Buttons*/
/**************************************************/


/*Forms*/
/**************************************************/


/*Lists, Tables, ETC */
/**************************************************/


/*Images & Items*/
/**************************************************/


/*CSS3 Animations and Transitions*/
/**************************************************/



/*Medium devices and up (tablets)                                           ///// ///// ///// /////  MEDIA QUERY*/
@media (min-width: 768px) {

  /*Basic Layout*/
  /**************************************************/



  /*Primary Navigation*/
  /**************************************************/


  /*Header Layout*/
  /**************************************************/


  /*Content & Columns */
  /**************************************************/


  /*Footer*/
  /**************************************************/


  /*Miscellaneous Elements*/
  /**************************************************/


  /*Typography*/
  /**************************************************/


  /*Buttons*/
  /**************************************************/


  /*Forms*/
  /**************************************************/


  /*Lists, Tables, ETC */
  /**************************************************/


  /*Images & Items*/
  /**************************************************/


  /*CSS3 Animations and Transitions*/
  /**************************************************/


}
