/*Basic Layout*/
/**************************************************/
html {
  height:100%;
  width:100%;
}
body {
  position:relative;
  min-height:100%;
  width:100%;
  background-color:#494A4C;
  color:#FFF;
}

#lsyncViewWrap {
  overflow:hidden;
  width:100%;
}

.floatRight,
.col.floatRight  {
  float:right;
}

/*Primary Navigation*/
/**************************************************/
#mainToolbar {
  background-color:#616366;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:50;
}

#mainToolbar .row {
  margin:0;
}

.padRight {
  padding-right:1rem;
}

.padLeft {
  padding-left:1rem;
}

/*Header Layout*/
/**************************************************/

/*Content & Columns */
/**************************************************/
.aspectEmbedWrap {
  overflow: hidden;
}

.aspectEmbedContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.aspect4-3 {
  padding-top: 75%;
}

.aspect16-10 {
  padding-top: 62.5%;
}

.aspect16-9 {
  padding-top: 56.25%;
}

.aspectEmbedFrame {
  position: absolute;
  height:100%;
  width: 100%;
  border:none;
  top:0;
  left:0;
  /*negative z-index prevents clicks by the user*/
  z-index: -1;
}

.slideWrap .aspectEmbedFrame {
  background-color:#000;
}

.slideWrap.noControls .aspectEmbedContainer {
  margin-bottom:-30px;
}

#flyout {
  position:absolute;
  top:0;
  left:0;
  z-index:100;
  height:100%;
  background-color:#181919;
  background-color:rgba(24,25,25,.8);
  left:-100%;
  opacity:0;
  transition:left .5s, opacity .25s;
}

.flyoutActive #flyout {
  left:0;
  opacity:1;
}

#flyoutColumn {
  position:absolute;
  background-color:#494A4C;
  float:none;
  height:100%;
}

#flyoutMenuButton {
  float:right;
}

#mainPresentaionWrap{
  position:absolute;
  height:100%;
  width:100%;
  z-index:10;
  top:0;
  right:0;
  padding:5.625em 2em 2em 2em;
  transition: width .5s;
}

.flyoutActive #mainPresentaionWrap{
  width:60%;
}

#mainSlideWrap {
  position:absolute;
  z-index:30;
  width:30%;
  bottom:2rem;
  right:2rem;
  border:.25rem solid #03a9f4;
  padding:0;
  transition:all 1s;
}

.slideActive #mainSlideWrap {
  z-index:20;
  width:100%;
  bottom:0;
  right:0;
  border:.125rem solid transparent;
}

#mainVideoWrap {
  position:absolute;
  z-index:20;
  width:100%;
  bottom:0;
  right:0;
  border:.125rem solid transparent;
  transition:all 1s;
}

.slideActive #mainVideoWrap {
  z-index:30;
  width:30%;
  bottom:2rem;
  right:2rem;
  border:.25rem solid #03a9f4;
  padding:0;
}

/*Footer*/
/**************************************************/


/*Miscellaneous Elements*/
/**************************************************/


/*Typography*/
/**************************************************/

/*Buttons*/
/**************************************************/


/*Forms*/
/**************************************************/


/*Lists, Tables, ETC */
/**************************************************/


/*Images & Items*/
/**************************************************/


/*CSS3 Animations and Transitions*/
/**************************************************/



/*Medium devices and up (tablets)                                           ///// ///// ///// /////  MEDIA QUERY*/
@media (min-width: 768px) {

  /*Basic Layout*/
  /**************************************************/
  .row{padding:0 4em;}


  /*Primary Navigation*/
  /**************************************************/


  /*Header Layout*/
  /**************************************************/


  /*Content & Columns */
  /**************************************************/


  /*Footer*/
  /**************************************************/


  /*Miscellaneous Elements*/
  /**************************************************/


  /*Typography*/
  /**************************************************/


  /*Buttons*/
  /**************************************************/


  /*Forms*/
  /**************************************************/


  /*Lists, Tables, ETC */
  /**************************************************/


  /*Images & Items*/
  /**************************************************/


  /*CSS3 Animations and Transitions*/
  /**************************************************/


}
